<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Multiply{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ "bootstrap.css" | asset_url | stylesheet_tag }}
    {% include "webfonts" %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=181743778524471&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% block content %}{% endblock %}

    <script src="//code.jquery.com/jquery.min.js"></script>
    {{ "bootstrap.js" | asset_url | script_tag }}
    {{ "application.js" | asset_url | script_tag }}

    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e3b7077312b612"></script>

  </body>
</html>
