{% block bodyclass %}thanks{% endblock %}
{% block content %}
<header id="header">
  <div class="container">
    <h1><a href="/">Multiply</a></h1>
    <a href="https://twitter.com/itsmultiply" class="social-twitter">Follow Multiply on Twitter </a>
  </div>
</header>
<div id="content">
  <div class="container">
    <h2>Payment Successful</h2>
    <p>Hello Janet Lotte,</p>
    <p>Congratulations for taking the first step in becoming code literate and thank you for choosing Multiply.</p>
    <p>An email with essential information has been sent to you.</p>
    <h3>Share With Friends</h3>
    <div class="addthis_sharing_toolbox"></div>
  </div>
</div>
{% endblock %}
